<html>	
	<body>
		<script src="/common"></script>
		<form id="my-form" method="POST">
			Email: 
			<input type="text" id="email" name="email" value=""/><br>
			Enter Password: 
			<input type="password" id="password" name="password" value=""/><br>
			Enter Password Again: 
			<input type="password" id="repassword" name="repassword" value=""/><br>
			<input type="submit" id="signup" name="signup" value="SignUp"/>
		</form>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script>
				(function($){
					function processForm(e){				
						if($("#email").val() == ""){
							alert("The Email must be filled!");
						}else if($("#password").val() == ""){
							alert("The Password must be filled!");							
						}else if(!hasLowerCase($("#password").val())){
							alert("The Password contains at least one lower character!");							
						}else if(!hasUpperCase($("#password").val())){
							alert("The Password contains at least one upper character!");							
						}else if(!hasNumber($("#password").val())){
							alert("The Password contains at least one digit character!");							
						}else if(!hasSpecialCharacter($("#password").val())){
							alert("The Password contains at least one special character!");							
						}else if($("#password").val().length < 8){
							alert("The Password contains at least 8 characters!");							
						}else if($("#password").val() != $("#repassword").val()){
							alert("The Password and Re-Enter Password must be match!");							
						}else{
							$.ajax({
								url: '/users/addUsers',
								dataType: 'text',
								type: 'post',
								contentType: 'application/x-www-form-urlencoded',
								data: $(this).serialize(),
								dataType: "json",
								success: function( data, textStatus, jQxhr ){
									if(data.success){
										alert("You have already registered. please check your email!");	
									//	document.location.href='set_cookie/'+$("#email").val();	
									}
								},
								error: function( jqXhr, textStatus, errorThrown ){
									console.log( errorThrown );
								}
							});						
						}
						e.preventDefault();
					}
					$('#my-form').submit( processForm );
				})(jQuery);		
			</script>		
	</body>
</html>