<html>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
	<script src="/common"></script>
<script>
	if(getCookie("loginEmailApp") === null){
		document.location.href = "/";				
	}else{
		$.ajax({
			url: '/users/checkEmail',
			dataType: 'text',
			type: 'post',
			contentType: 'application/x-www-form-urlencoded',
			data: {email : getCookie("loginEmailApp")},
			dataType: "json",
			success: function( data, textStatus, jQxhr ){
				if(data.results.length === 0){
					document.location.href = "/active_email";
				}else{
					$("#user_name").val(data.results[0].user_name);
					$("#user_email").val(data.results[0].email);				
				}
			},
			error: function( jqXhr, textStatus, errorThrown ){
				console.log( errorThrown );
			}
		});				
	}	
</script>	
	<body>
		Old password: <input type="text" id="old_password" name="old_password" value=""/><br>
		New password: <input type="text" id="password" name="new_password" value=""/><br>
		Re-enter new password: <input type="text" id="repassword" value=""/><br>
		<input type="button" id="change_password" name="change_password" value="Change Password" onClick="
			$.ajax({
				url: '/users/checkEmailAndPassword',
				dataType: 'text',
				type: 'post',
				contentType: 'application/x-www-form-urlencoded',
				data: {email:getCookie('loginEmailApp'),password:$('#old_password').val()},
				dataType: 'json',
				success: function( data, textStatus, jQxhr ){
					if(jQuery.isEmptyObject(data.results)){
						alert('Invalid Password!');
					}else{
						if($('#password').val() == ''){
							alert('The Password must be filled!');							
						}else if(!hasLowerCase($('#password').val())){
							alert('The Password contains at least one lower character!');							
						}else if(!hasUpperCase($('#password').val())){
							alert('The Password contains at least one upper character!');							
						}else if(!hasNumber($('#password').val())){
							alert('The Password contains at least one digit character!');							
						}else if(!hasSpecialCharacter($('#password').val())){
							alert('The Password contains at least one special character!');							
						}else if($('#password').val().length < 8){
							alert('The Password contains at least 8 characters!');							
						}else if($('#password').val() != $('#repassword').val()){
							alert('The Password and Re-Enter Password must be match!');							
						}else{
							$.ajax({
								url: '/users/addUsers',
								dataType: 'text',
								type: 'post',
								contentType: 'application/x-www-form-urlencoded',
								data: {email:getCookie('loginEmailApp'),password:$('#password').val()},
								dataType: 'json',
								success: function( data, textStatus, jQxhr ){
									if(data.success){
										alert('You have already changed the password!');
										document.location.href='../home';											
									}
								},
								error: function( jqXhr, textStatus, errorThrown ){
									console.log( errorThrown );
								}
							});						
						}					
					}
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown );
				}
			});		
		"/>	
	</body>
</html>